# Segmentation QC

In [1]:
%load_ext autoreload
%autoreload 2
%env ANYWIDGET_HMR=1

env: ANYWIDGET_HMR=1

In [2]:
# macOS requirement
import os
import pandas as pd
import geopandas as gpd
os.environ['DYLD_LIBRARY_PATH'] = '/opt/homebrew/lib:' + os.environ.get('DYLD_LIBRARY_PATH', '')

In [37]:
import celldega as dega
dataset_metrics_df = dega.qc.ist_segmentation_metrics(transcript_metadata_file="../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_partitioned_transcripts_metadata.parquet",
                                 transcript_data_file="../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-create_subset_subset_coordinates.csv", 
                                 cell_polygon_metadata_file="../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_cell_metadata.parquet",
                                 cell_polygon_data_file="../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_cell_polygons.parquet", 
                                 image_files=["../../../Documents/cell_segmentation/segmentation_data/original_data/Xenium_Prime_Human_Prostate_FFPE_outs/morphology_focus/morphology_focus_0000.ome.tif",
                                              "../../../Documents/cell_segmentation/segmentation_data/original_data/Xenium_Prime_Human_Prostate_FFPE_outs/morphology_focus/morphology_focus_0001.ome.tif",
                                              "../../../Documents/cell_segmentation/segmentation_data/original_data/Xenium_Prime_Human_Prostate_FFPE_outs/morphology_focus/morphology_focus_0002.ome.tif",
                                              "../../../Documents/cell_segmentation/segmentation_data/original_data/Xenium_Prime_Human_Prostate_FFPE_outs/morphology_focus/morphology_focus_0003.ome.tif"], 
                                 subset_interval_y_x=[0,20294,0,42748],
                                 pixel_size=0.2125,
                                 thickness=1)

segmentation metrics calculation completed

In [38]:
dataset_metrics_df

,0_indexed_image_channel_intensity,1_indexed_image_channel_intensity,2_indexed_image_channel_intensity,3_indexed_image_channel_intensity,proportion_transcripts_assigned_to_cells,total_number_of_cells,average_cell_area,average_cell_volume,average_transcripts_per_cell,median_transcripts_per_cell,average_genes_per_cell,median_genes_per_cell,cells_per_100_um^2,percent_empty_cells
0,0.069536,0.154016,0.025722,0.043835,91.175765,222902,2326.244272,2326.244272,244.308589,175.0,179.442647,143.0,0.569,5.702634

In [16]:
trx_meta = pd.read_parquet("../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_partitioned_transcripts_metadata.parquet")
trx = pd.read_csv("../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-create_subset_subset_coordinates.csv")

In [17]:
cell_meta = gpd.read_parquet("../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_cell_metadata.parquet")
cell = gpd.read_parquet("../../../Downloads/data_for_testing_metrics_script/submissions_b41b6b90-1a22-4e63-9fa8-6a80bbeacfc9_MAIN_WORKFLOW_8d99fba5-76b7-466f-afa0-d33105c75de0_call-partitioning_transcript_cell_by_gene_cell_polygons.parquet")

In [26]:
trx_meta

          transcript_index  cell_index      gene
3          281513631425375       64292     IFI16
23         281513631423387       64002     CD177
28         281513631429857       64150     DDX58
31         281513631419260       64091    DNMT3B
37         281513631429370       64003      FAAH
...                    ...         ...       ...
59727350   281556581676603       95786     STK16
59727351   281556581167194       95786      TC2N
59727352   281556581763331       95845  TNFRSF18
59727353   281556581525058       95859    TSPAN3
59727354   281556581445178       95845     ZBTB4

[54456873 rows x 3 columns]

In [20]:
cell_meta

              area                     centroid
cell_index
0           1739.0     POINT (28916.882 24.304)
1            130.0     POINT (28576.050 13.605)
2            357.5     POINT (28776.111 61.644)
3            961.5    POINT (28655.916 575.560)
4           2263.0    POINT (28626.513 592.803)
...            ...                          ...
236377      2427.0  POINT (33928.496 13158.542)
236378      1574.0   POINT (33979.201 5471.059)
236379      2688.0   POINT (33948.054 5497.855)
236380      2606.5  POINT (33856.836 13230.396)
236381      3081.0  POINT (33920.553 13209.438)

[236382 rows x 2 columns]

In [43]:
(trx_meta.groupby("gene")["transcript_index"].count() / trx.groupby("feature_name")["transcript_id"].count()).fillna(0)

A2ML1      0.950400
AAMP       0.922834
AAR2       0.922300
AARSD1     0.935246
ABAT       0.929936
             ...
ZSCAN26    0.908332
ZSWIM6     0.946553
ZUP1       0.925840
ZYG11B     0.890543
ZYX        0.882710
Length: 10006, dtype: float64

In [45]:
trx_meta

          transcript_index  cell_index      gene
3          281513631425375       64292     IFI16
23         281513631423387       64002     CD177
28         281513631429857       64150     DDX58
31         281513631419260       64091    DNMT3B
37         281513631429370       64003      FAAH
...                    ...         ...       ...
59727350   281556581676603       95786     STK16
59727351   281556581167194       95786      TC2N
59727352   281556581763331       95845  TNFRSF18
59727353   281556581525058       95859    TSPAN3
59727354   281556581445178       95845     ZBTB4

[54456873 rows x 3 columns]

In [ ]:
def proportion_of_assigned_transcripts_per_gene(gdf):
    assigned_transcripts = gdf[gdf["assigned"] != "UNASSIGNED"]
    transcripts_per_gene = assigned_transcripts.groupby("gene")["transcript_index"].count()
    total_transcripts_per_gene = gdf.groupby("gene")["transcript_index"].count()
    return (transcripts_per_gene / total_transcripts_per_gene).fillna(0)